---
---

<style>
  .logo {
    color: var(--headline);
    font-family: 'IBM Plex', Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="navbar">
  <a href="/"><span class="logo">&gt; krnsk0.dev_</span></a>
  <nav>
    <a href="/posts">posts</a>
    <span>|</span>
    <a href="/">about</a>
    <span>|</span>
    <a href="/rss.xml">rss</a>
    <span>|</span>
    <a
      href="mailto:jkurinsky+website@fastmail.com"
      rel="noreferrer noopener"
      target="_blank">email</a
    >
    <span>|</span>
    <a
      href="https://www.linkedin.com/in/krnsk0/"
      rel="noreferrer noopener"
      target="_blank">linkedin</a
    >
    <span>|</span>
    <a
      href="https://github.com/krnsk0"
      rel="noreferrer noopener"
      target="_blank">github</a
    >
    <span>|</span>
    <button id="color-toggle"></button>
    <script is:inline>
      const toggle = document.getElementById('color-toggle');
      if (window.colorMode === 'dark') toggle.innerText = 'go light';
      else if (window.colorMode === 'light') toggle.innerText = 'go dark';

      toggle.addEventListener('click', function () {
        if (window.colorMode === 'dark') {
          setLight();
          toggle.innerText = 'go dark';
          window.colorMode = 'light';
          window.localStorage.setItem('color-mode', 'light');
        } else if (window.colorMode === 'light') {
          setDark();
          toggle.innerText = 'go light';
          window.colorMode = 'dark';
          window.localStorage.setItem('color-mode', 'dark');
        }
      });
    </script>
  </nav>
</div>
