---
import { Icon } from 'astro-icon';
---

<style>
  .logo {
    color: var(--headline);
    font-family: 'IBM Plex', Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0.2em;
  }

  #color-toggle {
    display: flex;
    justify-content: center;
    margin-top: -0.4em;
    margin-left: 0.1em;
  }

  #color-toggle > svg {
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
  }
</style>

<div class="navbar">
  <nav>
    <a href="/"><span class="logo">&gt; krnsk0.dev_</span></a>

    <div>
      <a href="/posts">posts</a>
      <span>|</span>
      <a href="/">about</a>
    </div>
    <div class="icons">
      <a
        href="https://github.com/krnsk0"
        rel="noreferrer noopener"
        target="_blank"
      >
        <Icon class="icon" name="fa-brands:github" />
      </a>
      <a
        href="https://www.linkedin.com/in/krnsk0/"
        rel="noreferrer noopener"
        target="_blank"
      >
        <Icon class="icon" name="fa-brands:linkedin" />
      </a>
      <a href="/rss.xml" rel="noreferrer noopener" target="_blank">
        <Icon class="icon" name="fa-solid:rss" />
      </a>
      <a
        href="mailto:jkurinsky+website@fastmail.com"
        rel="noreferrer noopener"
        target="_blank"
      >
        <Icon class="icon" name="fa-solid:envelope" />
      </a>

      <button id="color-toggle">
        <Icon class="icon" id="dark-icon" name="bi:moon-fill" />
        <Icon class="icon" id="light-icon" name="bi:sun-fill" />
      </button>
    </div>
    <script is:inline>
      const toggle = document.getElementById('color-toggle');
      const darkIcon = document.getElementById('dark-icon');
      const lightIcon = document.getElementById('light-icon');
      if (window.colorMode === 'dark') {
        darkIcon.style.display = 'none';
      } else if (window.colorMode === 'light') {
        lightIcon.style.display = 'none';
      }

      toggle.addEventListener('click', function () {
        if (window.colorMode === 'dark') {
          setLight();
          lightIcon.style.display = 'none';
          darkIcon.style.display = 'inherit';
          window.colorMode = 'light';
          window.localStorage.setItem('color-mode', 'light');
        } else if (window.colorMode === 'light') {
          setDark();
          darkIcon.style.display = 'none';
          lightIcon.style.display = 'inherit';
          window.colorMode = 'dark';
          window.localStorage.setItem('color-mode', 'dark');
        }
      });
    </script>
  </nav>
</div>
