---
import Layout from '../../components/Layout/Layout.astro';
import { getAllPosts } from '../../data-loading/getAllPosts';
import { formatDate } from '../../formatting/formatDate';

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map(
    ({ frontmatter: { slug, title, pubDate, description }, Content }) => {
      return {
        params: {
          slug: slug,
        },
        props: { Content, title, pubDate, description },
      };
    }
  );
}

const { Content, title, pubDate, description } = Astro.props;
---

<Layout title={title} description={description}>
  <h1>{title}</h1>
  <p>{formatDate(pubDate)}</p>
  <Content />
</Layout>
