---
import Layout from '../../components/Layout/Layout.astro';
import { getAllPosts } from '../../data-loading/getAllPosts';
import { formatDate } from '../../formatting/formatDate';

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map(
    ({ frontmatter: { slug, title, pubDate, description }, Content }) => {
      return {
        params: {
          slug: slug,
        },
        props: { Content, title, pubDate, description },
      };
    }
  );
}

const { Content, title, pubDate, description } = Astro.props;
---

<style>
  .date {
    text-align: center;
    margin: 0em 0em 3em 0em;
  }
</style>

<Layout title={title} description={description}>
  <h1>{title}</h1>
  <p class="date">{formatDate(pubDate)}</p>
  <Content />
</Layout>
