---
import Layout from '../../components/Layout/Layout.astro';
import { getAllPosts } from '../../data-loading/getAllPosts';
import { formatDate } from '../../formatting/formatDate';

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map(
    ({ frontmatter: { slug, title, pubDate, description }, Content }) => {
      return {
        params: {
          slug: slug,
        },
        props: { Content, title, pubDate, description },
      };
    }
  );
}

const { Content, title, pubDate, description } = Astro.props;
---

<style>
  .title {
    margin: 0.4em 0 0.4em 0;
    font-size: 2em;
  }
  .date {
    text-align: center;
    margin: 0em 0em 3em 0em;
    filter: brightness(350%);
    font-size: 0.85em;
  }
  :global(a) {
    text-decoration: underline;
  }
</style>

<Layout title={title} description={description}>
  <div class="box">
    <h1 class="title">{title}</h1>
    <p class="date">{formatDate(pubDate)}</p>
    <Content />
  </div>
</Layout>
