---
import Layout from '../../components/Layout.astro';
import { getAllPosts } from '../../data-loading/getAllPosts';

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map(({ frontmatter }) => {
    return {
      params: { slug: frontmatter.slug },
    };
  });
}

const { slug } = Astro.params;
---

<Layout title="Post">
  <main>this is a blog post at {slug}</main>
</Layout>
