---
import Layout from '../components/Layout/Layout.astro';
---

<style>
  .center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
  }
</style>

<Layout
  title="Not Found"
  description="404 page for Jon Kurinsky's developer blog"
>
  <div class="box center">
    <p>Content not found.</p>
  </div>
</Layout>
