---
import Layout from '../components/Layout/Layout.astro';
---

<style>
  .resume {
    text-decoration: underline;
  }

  .big {
    font-size: 1.2em;
  }
  .center {
    text-align: center;
  }

  blockquote {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
  }
</style>

<Layout
  title="About"
  description="About page for Jon Kurinsky's developer blog"
>
  <div class="box center big">
    <p>
      I'm <strong>Jon Kurinsky</strong>, a Philadelphia-based software engineer.
    </p>
    <blockquote>
      I'm currently on the job market! <a
        class="resume"
        href="Jon_Kurinsky.pdf"
        target="_blank"
        rel="noopener noreferrer">Here is my resume.</a
      >
    </blockquote>
  </div>
</Layout>
