---
import Layout from '../components/Layout/Layout.astro';
import { getAllPosts } from '../data-loading/getAllPosts';
import { formatDate } from '../formatting/formatDate';
const posts = await getAllPosts();
---

<Layout title="Posts" description="All of krnsk0's blog posts">
  <main>
    <ul>
      {
        posts.map(({ frontmatter: { title, pubDate, description, slug } }) => {
          return (
            <li>
              <h2>
                <a href={`posts/${slug}`}>{title}</a>
              </h2>
              <p>{formatDate(pubDate)}</p>
              <p>{description}</p>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  /* TODO */
</style>
