---
import Layout from '../components/Layout/Layout.astro';
import { getAllPosts } from '../data-loading/getAllPosts';
import { formatDate } from '../formatting/formatDate';
const posts = await getAllPosts();
---

<Layout title="Posts" description="All of krnsk0's blog posts">
  <style>
    .post-title {
      margin: 0;
      font-size: 1.4em;
    }
    .date {
      filter: brightness(350%);
      font-size: 0.9em;
    }
  </style>
  <ul>
    {
      posts.map(({ frontmatter: { title, pubDate, description, slug } }) => {
        return (
          <li class="box">
            <h2 class="post-title">
              <a href={`posts/${slug}`}>{title}</a>
            </h2>
            <p class="date">{formatDate(pubDate)}</p>
            <p>{description}</p>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style>
  /* TODO */
</style>
