---
import Layout from '../components/Layout.astro';
import { getAllPosts } from '../data-loading/getAllPosts';
import { formatDate } from '../formatting/formatDate';
const posts = await getAllPosts();
---

<Layout title="Writing">
  <main>
    <h1>writing</h1>
    <ul>
      {
        posts.map(({ frontmatter: { title, date, description, slug } }) => {
          return (
            <li>
              <h2>
                <a href={slug}>{title}</a>
              </h2>
              <p>{formatDate(date)}</p>
              <p>{description}</p>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  /* TODO */
</style>
