---
---

<style>
  .logo {
    color: var(--headline);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="navbar">
  <span class="logo">krnsk0.dev_</span>
  <nav>
    <a href="/posts">posts</a>
    <span>|</span>
    <a href="/">about</a>
    <span>|</span>
    <a
      href="https://www.linkedin.com/in/krnsk0/"
      rel="noreferrer noopener"
      target="_blank">linkedin</a
    >
    <span>|</span>
    <a
      href="https://github.com/krnsk0"
      rel="noreferrer noopener"
      target="_blank">github</a
    >
  </nav>
</div>
