---
---

<style>
  .topbar {
    border: 1px red solid;
    top: 0;
    left: 0;
  }
  svg {
    width: 1.5em;
    height: 1.5em;
  }
</style>

<div class="topbar">
  <span>krnsk0.dev_</span>
  <nav>
    <a href="/posts">[posts]</a>
    <a href="/">[about]</a>
    <a
      href="https://www.linkedin.com/in/krnsk0/"
      rel="noreferrer noopener"
      target="_blank">[linkedin]</a
    >
    <a
      href="https://github.com/krnsk0"
      rel="noreferrer noopener"
      target="_blank">[github]</a
    >
  </nav>
</div>
