---
import Layout from './Layout.astro';
import { formatDate } from '../formatting/formatDate';
interface Props {
  Content: () => unknown;
  title: string;
  date: Date;
}
const { Content, title, date } = Astro.props;
---

<Layout title={title}>
  <h1>{title}</h1>
  <div>{formatDate(date)}</div>
  <Content />
</Layout>
