/* https://www.happyhues.co/palettes/9 */
/* https://www.happyhues.co/palettes/13 */
:root {
  --background: #efefef;
  --headline: #161616;
  --paragraph: #34363b;
  --links: #3137e5;
  --inline-code-background: #b0b4bf;
  --inline-code-text: #282c35;
}

/* Color */
body {
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline);
}

p,
div,
span,
button,
q,
blockquote {
  color: var(--paragraph);
}

a {
  color: var(--links);
}

/* Sizing */
h1 {
  font-size: 2em;
  margin: 2em 0 1em 0;
}
h2 {
  font-size: 1.5em;
  margin: 1.5em 0 1em 0;
}
p,
q,
blockquote {
  margin: 0.8em 0 0.8em 0;
}

/* <code> elements not children of a <pre> */
code:not(pre *) {
  background-color: var(--inline-code-background);
}
